<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="M_PI" value="3.1415926535897931" />
  <xacro:property name="VELOCITY_LIMIT_SCALE" value="0.6" />

  <!-- motor information -->
  <xacro:property name="dx_lo" value="-${150*M_PI/180}" />
  <xacro:property name="dx_up" value="+${150*M_PI/180}" />
  <xacro:property name="dx_eff" value="3.621866" />
  <xacro:property name="dx_vel" value="7.016224" />

  <!-- Mathmatic -->
  <xacro:property name="Sin45" value="0.707106781"/>
  <xacro:property name="Cos45" value="0.707106781"/>

  <xacro:macro name="common">
  </xacro:macro>
</robot>
