<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- more default parameters can be changed here -->
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Load the URDF int the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find gazebo_demo)/robots/4limb_robot.urdf.xacro'"/>
  <!-- Spawn a robot into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-param robot_description -urdf -z 0.100 -P 1.57 -model demo_robo" />
  <!-- Start the controller -->


  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <!-- Joint State Publisher -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="false" output="screen">
    <!--<remap from="/joint_states" to="/limbsys/joint_states" />-->
  </node>


  <rosparam file="$(find gazebo_demo)/config/velocity_control.yaml" command="load"/>
  <!-- Load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/demo_robo" args="joint_state_controller 
    joint1_01_position_controller
    joint1_12_position_controller
    joint1_23_position_controller
    joint1_34_position_controller
    joint2_01_position_controller
    joint2_12_position_controller
    joint2_23_position_controller
    joint2_34_position_controller
    joint3_01_position_controller
    joint3_12_position_controller
    joint3_23_position_controller
    joint3_34_position_controller
    joint4_01_position_controller
    joint4_12_position_controller
    joint4_23_position_controller
    joint4_34_position_controller"
  />


</launch>
